git+https://github.com/adsabs/ADSMicroserviceUtils.git@v1.1.9
git+https://github.com/adsabs/ADSParser.git@v1.0.3
future==0.18.2
webargs==5.5.3
Jinja2==2.11.3
markupsafe<=2.0.1
itsdangerous<=2.0.1
werkzeug<=2.0.3
